.node-simple-event .attributes {
  float: left;
  text-align: center;
}
.node-simple-event .details {
  margin-left: 200px;
  min-height: 220px;
}

.node-simple-event .rrssb-links {
  padding: 0 10px;
}

.node-form .current_image img {
  max-width: 200px;
  height: auto;
}
