# Ignore configuration files that may contain sensitive information.
sites/**/*settings.php
sites/local.sites.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/local

### Ignore editors' configugarion files
.idea
.vscode
.eslintrc.json

# Ignore translations
sites/all/translations

# Ignore modules for developers
sites/all/modules/contrib/coder
sites/all/modules/contrib/devel
sites/all/modules/contrib/field_inspector
sites/all/modules/contrib/hacked
sites/all/modules/contrib/masquerade
sites/all/modules/contrib/search_krumo
sites/all/modules/contrib/stage_file_proxy

# Ignore npm packages
node_modules/

# Ignore css sourcemaps
*.css.map