// Main styles
.dru {
    background-color: $brand-primary;

    table.menu td.menu-item a, 
    table.menu th.menu-item a, 
    a,
    p {
        color: $brand-primary-link;
    }
}

// Fix table brake in Thunderbird
.wrapper {
    height: auto !important;
}
