.claim_message {
  margin: 10px 0;
  padding: 15px;
  width: inherit;
}

.claim_message_processed {
  background: #ffeeee none repeat scroll 0 0;
  border-left: 3px solid #f78594;
  color: #c86161;
}

.claim_message_done {
  background: #c9f2ff none repeat scroll 0 0;
  border-left: 3px solid #4abade;
  color: #1d79a3;
}

.claim_message i {
  padding-right: 10px;
}

li.dru-claim a:before {
  content: "\f24e";
  font-family: "fa", "FontAwesome";
  padding-right: 5px;
}

.initiator .label,
.entity .label {
  font-weight: bold;
  color: black;
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  padding-right: 10px;
}

.claimed-entity-teaser .label,
.claimed-entity-teaser .label {
  display: inline-block;
  vertical-align: top;
}

.claimed-entity-teaser .value,
.claimed-entity-teaser .value {
  display: inline-block;
  vertical-align: top;
}

.dru-verdict-process {
  /*background: #fff6ed;*/
}

#claim-add {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#claim-add #claim-add-form {
  background: #fff none repeat scroll 0 0;
  margin: 50px auto;
  max-height: calc(100vh - 60px);
  overflow: auto;
  padding: 20px;
  width: 320px;
}

.claimed-entity-full .value {
  background: #f7f7f7 none repeat scroll 0 0;
  padding: 15px;
  position: relative;
}
