@-webkit-keyframes animatedBackground {
	from { background: rgba(255, 254, 139, .9); }
	to { background: rgba(255, 254, 139, 0); }
}
@keyframes animatedBackground {
	from { background: rgba(255, 254, 139, .9); }
	to { background: rgba(255, 254, 139, 0); }
}

.tiket-changed {
  -webkit-animation: animatedBackground 4s ease-out;
  animation: animatedBackground 4s ease-out;
}

li.ticket-assign a:before {
  content: "\f1b8";
  font-family: "fa", "FontAwesome";
  padding-right: 5px;
}

.moderator .label {
  display: inline-block;
  font-weight: bold;
  padding-right: 10px;
}
