.quote-author {
  display: inline;
  margin: 0 0 1em 0;
  font-weight: bold;
}

.quote-msg, .quote-snip {
  padding: 1em;
  border: 1px solid #DDD;
  background-color: #F6F6F6;
}

.quote-snip {
  text-align: center;
}
