<container>
    <row class="collapse dru">
        <columns small="12" large="6" valign="middle">
            <center>
                <?php if ($menu_bottom): ?>
                <spacer size="16"></spacer>
                <menu style="margin-bottom: 0;">
                    <?php foreach ($menu_bottom as $menu_bottom_item): ?>
                    <?php if ($menu_bottom_item): ?>
                    <item href="<?php print $menu_bottom_item['link']; ?>"><?php print $menu_bottom_item['title']; ?></item>
                    <? endif; ?>
                    <? endforeach; ?>
                </menu>
                <?php endif; ?>
            </center>
        </columns>
    </row>
</container>
