<container>
  <row class="collapse dru">
      <columns small="12" large="6" valign="middle">
          <center>
              <spacer size="16"></spacer>
              <?php if (isset($base_path)): ?>
              <menu style="margin-bottom: 0;">
                  <item href="<?php print $base_path; ?>/privacy-policy">Конфиденциальность</item>
                  <item href="<?php print $base_path; ?>/rules">Правила</item>
                  <item href="<?php print $base_path; ?>/ru_team">Команда</item>
                  <item href="<?php print $base_path; ?>/contact">Обратная связь</item>
              </menu>
              <?php endif; ?>
          </center>
      </columns>
  </row>
</container>
