.tnx-counter {
  position: relative;
  display: inline;
}

.tnx-counter.counter-0 {
  display: none;
}

.tnx-counter i {
  margin-top: -.5em;
  will-change: transform, font-size, opacity;
}

.tnx-counter.plus i {
  animation-name: tnx-plus;
  animation-duration: .8s;
}

.tnx-counter.minus i {
  animation-name: tnx-minus;
  animation-duration: .8s;
}

@keyframes tnx-plus {
  from {
    transform: scale(1.8);
    opacity: .1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes tnx-minus {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
