.alttracker .author .fa,
.alttracker .replies .fa,
.alttracker .terms .fa,
.alttracker .last-reply .fa {
  color: #ddd;
}

.terms ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.terms ul li {
  display: inline-block;
  padding-left: 2px;
}

.terms ul li a {
  color: #888;
  font-size: small;
}

.terms ul li a:after {
  content: ',';
}

.terms ul li.last a:after {
  content: '';
}
