.inner_poll_container {
  width: 100%;
}

.inner_poll_question {
  float: left;
  width: 150px;
}

.inner_poll_result {
  float: left;
  border: 0;
  width: 50px;
}

.inner_poll_answer_wrapper {
  float: left;
  width: calc(100% - 50px);
}

.inner_poll_result .percent {
  text-align: center;
  font-weight: bold;
}

.inner_poll_result .points {
  text-align: center;
  font-weight: 400;
  font-size: .8em;
  color: rgba(0,0,0,.5);
}
.inner_poll_answer {
  font-size: 1.1em;
}
.inner_poll_grafic {
  height: 9px;
  background-color: rgba(0,0,0,0.3);
  margin-top: .2em;
}

.inner_poll_max_result {
  background-color: rgba(0,0,0,0.5);
}

.question {
  font-size: 1.3em;
  font-weight: bold;
}

.alredy_vote,
.inner_poll_container,
.cancel_votes {
  margin: 10px 0 10px 0;
}
.inner_poll_line {
  margin-top: .7em;
}
.inner_poll .total_votes,
.inner_poll .abs_votes {
  text-align: right;
}
