/* Logo */
.logo {
  padding: 0px 15px;
}
.logo img {
  height: 33px;
}

/* Style user pic. */
.user-picture img {
  border: 1px solid #e5e7e8;
  padding: 1px; 
}

/* Comments style*/

.indented {
  padding-left: 25px;
}

.comment {
  padding: 15px 10px 10px;
  margin: 0px;
}

.comment:hover,
.comment:focus {
  background-color: #f9f9f9;
}

.comment ul.links.list-inline {
  margin-bottom: 0px;
}

.comment .content {
  min-height: 50px;
  padding: 15px;
  margin-top: 5px;
}

.comment .pull-left {
  margin-right: 15px;
}
