/* Logo */
.logo {
  padding: 0px 15px;
}
.logo img {
  height: 33px;
}

/* Style user pic. */
.user-picture img {
  border: 1px solid #e5e7e8;
  padding: 1px; 
}

/* Comments style*/

.indented {
  padding-left: 15px;
  background-color: #ddd; 
}

.comment {
  padding: 25px 15px;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: -1px;
}

.comment ul.links.list-inline {
  margin-bottom: 0px;
}
