li.bookmark a.dru-bookmark-in:before {
  content: "\f067";
  font-family: "fa","FontAwesome";
  padding-right: 5px;
}

li.bookmark a.dru-bookmark-out:before {
  content: "\f068";
  font-family: "fa","FontAwesome";
  padding-right: 5px;
}
