.popover-content {
  .ticket-info {
    padding: .3em 0;
    blockquote, .well {
      margin-bottom: 0;
    }
  }
  .ticket-metadata {
    .small-inline-text:last-of-type {
      margin-right: 0;
    }
  }
  .ticket-category, .ticket-body, .ticket-metadata {
    padding: .5em .7em;
  }
}

#verdict-add-form {
  .form-actions {
    margin-top: @form-group-margin-bottom;
  }
}