[class^="xbbcode--"]::before {
  @icon();
  margin-right: @gap-icon;
}

.xbbcode {
  &--module::before {
    content: @fa-var-puzzle-piece;
  }

  &--theme::before  {
    content: @fa-var-paint-brush;
  }

  &--user::before  {
    content: @fa-var-user;
  }

  &--api::before  {
    content: @fa-var-drupal;
  }
}
