////////////////////
// Generic styling for comment
.comment {
  @entity();

  @media (min-width: @grid-float-breakpoint) {
    &__links > * {
      .border(0, 0, 1, 0, @color-divider);
    }

    #comments > &:last-child &__links > * {
      .border(none);
    }
  }

  &__links {
    & > * {
      background-color: @color-entity-links-bg;

      a {
        color: @color-entity-links-link-listing;

        &:hover,
        &:focus,
        &:active {
          color: @color-entity-links-link-listing-hover;
        }
      }
    }

    .accepted-answer & > *:last-child {
      @media (min-width: @grid-float-breakpoint) {
        .border(0, 1, 1, 1, @color-notification);
      }
    }

    .accepted-answer & {
      margin-left: -@padding;
      margin-right: -@padding;

      > * {
        @media (max-width: @grid-float-breakpoint) {
          .border(0, 1, 0, 1, @color-notification);
          margin-bottom: unset;
        }
      }
    }
  }

  &__status {
    .is-new &::after,
    .is-updated &::after {
      @icon();
      color: @color-notification;
      content: @fa-var-circle;
      font-size: @font-size-aux;
    }
  }

  .accepted-answer & {
    margin-top: @gap-entity;
  }

  @media (max-width: @grid-float-breakpoint) {
    .comment__links {
      & > * {
        background-color: @color-entity-links-bg-hover;
      }
    }
  }

  @media (min-width: @grid-float-breakpoint) {
    &:hover,
    &:active,
    &:focus {
      .comment__links {
        & > * {
          background-color: @color-entity-links-bg-hover;
        }

        a {
          color: @color-entity-links-link;
        }
      }
    }
  }
}

// @todo Move styling of .menu-toggle to separate file
.menu-toggle {
  @icon();
  width: @font-size-aux;
  height: @font-size-aux;
  margin-left: auto;
  transition: color @transition-speed @transition-func;
  cursor: pointer;

  &::after {
    content: @fa-var-bars;
  }

  &:hover,
  &:focus,
  &:active {
    color: @color-link-hover;
  }

  @media (min-width: @grid-float-breakpoint) {
    display: none;
  }
}
