#block-system-main {
  .views-row, .node-teaser {
    box-sizing: border-box;
  }
}

.node {
  > .links {
    padding: 0;
    margin: @padding-large-horizontal 0 0 0; // @todo Replace with proper variable

    &.inline {
      li {
        list-style: none;
        display: inline-block;
        padding-right: 10px; // @todo Replace with proper variable
      }
    }
  }

  &.node-teaser {
    > ul.links {
      text-align: right;
    }

    &.node-event {
      position: relative;
      border: 1px solid @well-border;
      margin-bottom: @line-height-computed; // @todo Replace with proper variable
      background-color: @body-bg;

      h2 {
        margin-top: 0;
      }

      @media @tablet {
        &:before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-width: 2px 40px 2px 0;
          border-style: solid;
          border-color: transparent @well-border transparent transparent;
          position: absolute;
          left: -40px;
          top: 1.6em;
        }
      }
    }
  }

  &.node-blog {
    .node-header {
      display: flex;
      align-items: baseline;

      .page-user & {
        margin-top: @padding-large-vertical; // @todo Replace with proper variable
      }
    }

    .node-header-item {
      margin-right: @padding-base-horizontal; // @todo Replace with proper variable
    }
  }

  .content:not(:first-child) {
    margin-top: @padding-large-vertical; // @todo Replace with proper variable
  }

  &.node-unpublished {
    background-color: @state-danger-bg;
  }

  .unpublished-item {
    color: @state-danger-text;
  }
}

body.not-front {
  div:not(.alttracker.list-group) {
    .user-picture {
      float: left;
      margin-right: @padding-base-horizontal; // @todo Replace with proper variable
      margin-bottom: @padding-base-vertical; // @todo Replace with proper variable
    }
  }
}
