body {
  &.page-user {
    #profile {
      .user-picture {
        .caption {
          padding-top: @padding-large-vertical;
          h3 {
            margin-top: 0;
            small {
              display: block;
            }
          }
        }
      }
      .user-info {
        h3 {
          margin-top: 0;
          border-bottom: 1px solid @brand-info;
          color: @brand-primary;
        }
        dt {
          text-align: left;
          font-weight: normal;
        }
        dd {
          margin-left: 33%;
        }
        @media @tablet {
          dt {
            width: 30%;
          }
        }
      }
    }
    #blog {
      .node {
        .content {
          &, > .field-name-body {
            clear: none;
          }
        }
      }
      &.short-view {
        .node {
          > *:not(h2) {
            display: none;
          }

          > h2 {
            padding-left: @padding-large-horizontal;
            i {
              padding-right: @padding-base-horizontal;
            }
          }
          &:not(:first-child) {
            h2 {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  &.front {
    .navbar-second {
      background: transparent;
    }

    .region-content {
      padding-left: (@grid-gutter-width / 2);
      padding-right: 18px;

      section {
        margin-top: 25px;

        &:first-child {
          margin-top: 0;
        }

        h2 {
          margin-top: 0;
        }
      }
    }

    .navbar {
      margin: 0;
    }

    .jumbotron {
      .gradient-image("../img/front-bg.svg", @brand-primary, #71afdc);
      background-position: center   101%;
      background-repeat: repeat-x;
      color: @navbar-default-link-color;
      margin-bottom: 0;
      padding-top:    @jumbotron-padding * 2;
      padding-bottom: @jumbotron-padding * 2;
      position: relative;
      z-index: 2;

      .download-drupal-front {
        color: #e2b674;

        &:hover, &:focus {
          color: lighten(#e2b674, @tone);
          text-decoration: none;
        }

        i {
          .text-shadow(0 0 80px);
        }
      }

      & + * {
        margin-top: @jumbotron-padding;
      }
    }

    .block-simple-events {
      .event-list {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row;
        flex-wrap: nowrap;
        overflow: auto;

        .thumbnail {
          width: 32%;
          margin-right: 2%;
          margin-bottom: 0;
          min-width: 292px;

          display: inline-flex;
          flex-direction: column;
          -ms-flex-direction: column;
          justify-content: space-between;

          &:last-child {
            margin-right: 0;
          }

          &.add-more-link {
            display: block;
            border-width: 3px;
            border-style: dashed;
            font-size: 5em;
            text-align: center;
            line-height: 5em;
            .transition();
          }

          .caption {
            font-weight: 300;
          }
        }
      }
    }

    .frontpage-list + {
      .list-group {
        margin-left: -@padding-large-horizontal;
        margin-right: -@padding-large-horizontal;

        &, .list-group-item {
          background: none;
          border: none;
        }

        .list-group-item {
          border-bottom: 1px solid @little-darker;

          &:last-child {
            border-bottom: none;
          }

          &:focus, &:hover{
            background: @little-darker;
          }
        }
      }

      .h4 {
        margin: 0;
        padding-right: @padding-large-horizontal;

        .icon {
          width: 20px;

          &.fa-check-circle-o {
            color: @brand-accent;
          }
        }
      }
    }
  }

  .main-content {
    position: relative;
  }
}
