body {
  &.page-user {
    #profile {
      .user-picture {
        .caption {
          padding-top: @padding-large-vertical; // @todo Replace with proper variable

          h3 {
            small {
              display: block;
            }
          }
        }
      }

      .user-info {
        h3 {
          margin-top: @padding-large-horizontal; // @todo Replace with proper variable
          border-bottom: 1px solid @brand-info;
          color: @brand-primary;
        }

        dl {
          margin-top: @padding-base-vertical; // @todo Replace with proper variable
          margin-bottom: 0;
          display: flex;
          flex-wrap: wrap;
        }

        dt {
          text-align: left;
          font-weight: normal;
          margin-top: @padding-small-vertical; // @todo Replace with proper variable
          width: 30%;
        }

        dd {
          margin-top: @padding-small-vertical; // @todo Replace with proper variable
          width: 70%;
          padding-left: @padding-small-vertical; // @todo Replace with proper variable
        }
      }
    }

    #blog {
      .form-actions {
        margin-top: @padding-large-horizontal; // @todo Replace with proper variable

        .btn {
          outline: none;
        }
      }

      .nodes {
        padding-top: @padding-large-horizontal; // @todo Replace with proper variable
      }

      .node {
        &:not(:first-child) {
          padding-top: @padding-large-horizontal; // @todo Replace with proper variable
          margin-top: @padding-large-horizontal; // @todo Replace with proper variable
          border-top: 1px solid @little-darker;
        }

        .content {
          img {
            max-height: 10 * @font-size-base; // @todo Replace with proper variable
            width: auto;
          }
        }

        .node-header-item:first-child, // @todo Add specific class to user avatar
        .node-header-item .fa-user, // @todo Add wrapper and specific class to user name
        .node-header-item .username, // @todo Add wrapper and specific class to user name
        > .links {
          display: none;
        }
      }

      &.short-view {
        .node {
          &:not(:first-child) {
            padding-top: 0;
            margin-top: @padding-large-horizontal; // @todo Replace with proper variable
            border-top: none;
          }

          > *:not(h2) {
            display: none;
          }

          > h2 {
            font-size: @font-size-base;
            font-weight: @font-weight-base;
          }
        }
      }
    }
  }

  &.front {
    .navbar-second {
      background: transparent;
    }

    .region-content {
      section {
        margin-top: @padding-large-horizontal; // @todo Replace with proper variable

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .jumbotron {
      .gradient-image("../img/front-bg.svg", @brand-primary, #71afdc);
      background-position: center 101%;
      background-repeat: repeat-x;
      color: @navbar-default-link-color;
      margin-bottom: 0;
      padding-top: @jumbotron-padding * 2;
      padding-bottom: @jumbotron-padding * 2;
      position: relative;
      z-index: 2;

      .download-drupal-front {
        color: #e2b674;

        &:hover, &:focus {
          color: lighten(#e2b674, @tone);
          text-decoration: none;
        }

        i {
          .text-shadow(0 0 80px);
        }
      }

      p {
        font-weight: 300;
      }
    }
  }

  .frontpage-list {
    .h4 {
      margin: 0;
      padding-right: @padding-large-horizontal; // @todo Replace with proper variable

      .icon {
        width: 20px;

        &.fa-check-circle-o {
          color: @brand-accent;
        }
      }
    }
  }

  .frontpage-list .list-group,
  .alttracker.list-group {
    margin: 0;

    &,
    .list-group-item {
      background: none;
      border: none;
    }

    .list-group-item {
      border-bottom: 1px solid @little-darker;
      padding-left: @padding-large-horizontal; // @todo Replace with proper variable
      padding-right: @padding-large-horizontal; // @todo Replace with proper variable
      margin-left: -@padding-large-horizontal; // @todo Replace with proper variable
      margin-right: -@padding-large-horizontal; // @todo Replace with proper variable
      transition: background-color @transition-speed @transition-func;

      &:last-child {
        border-bottom: none;
      }

      &:focus, &:hover{
        background-color: @little-darker;
      }
    }
  }

  // @todo Do refactoring of /events page
  &.page-events {
    @timeline-width: 96px;
    @point-size: 13px;

    .node-event {
      img {
        max-width: 100%;
        height: auto;
      }

      // Temp workaround to prevent embedded videos from overlapping container
      // @todo Refactor embedding of external videos
      // see https://getbootstrap.com/docs/3.3/components/#responsive-embed
      iframe {
        max-width: 100%;
      }
    }

    @media @tablet {
      #block-system-main {
        padding-left: @grid-gutter-width*2;
        margin-left: @timeline-width;
        border-left: 1px solid @brand-info;
      }

      .event-date {
        position: absolute;
        left: -(@timeline-width + (2.5 * @grid-gutter-width) - (.5 * @well-padding-lg-horizontal) + (.5 * @point-size) - 1px);
        line-height: 1.3em;
        font-size: 0.5em;
        color: @brand-accent;

        &:after {
          display: block;
          content: '';
          position: absolute;
          width: @point-size;
          height: @point-size;
          border-radius: 50%;
          border: 1px solid;
          right: -35px;
          top: .3em;
          background: @body-bg;
        }
      }
    }
  }
}
