.region-sidebar-first,
.region-sidebar-second {
  .block {
    .loader-circle('gt-small'); // @todo Test if removed
    margin-top: @padding-large-horizontal; // @todo Replace with proper variable
    position: relative;

    > div {
      // for correct work of ajax-loaders
      position: relative;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.two-sidebars,
.sidebar-first {
  section.main {
    @media @very-smalld {
      float: right;
    }
  }
}

aside {
  &.second {
    clear: left;

    @media @very-smalld {
      clear: none;
    }
  }
}
